* {
  /* outline: 1px solid blue; */
  box-sizing: border-box;
}

html {
  /* scrollbar-gutter: stable; */
}

li,
ul,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
  color: currentColor;
}

body {
  background-color: var(--base-color);
  color: var(--text-color);
  margin: 0;

  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

button {
  padding: 0;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;

  color: var(--text-color);
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  min-width: 300px;
  max-width: 1440px;
}
@media screen and (min-width: 744px) {
  .container {
    padding: 0 20px;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    padding: 0 50px 0 30px;
  }
}

.icon {
  color: currentColor;

  width: 100%;
  height: 100%;
}

.section-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;

  flex-wrap: wrap;
}

.section-title {
  display: inline-block;
  font-size: var(--font-size-md);
  text-transform: capitalize;
}
@media screen and (min-width: 744px) {
  .section-title {
    font-size: var(--font-size-xl);
  }
}
@media screen and (min-width: 1024px) {
  .section-title {
    font-size: var(--font-size-lg);
  }
}

.section-expand-link {
  float: right;
  font-size: var(--font-size-xs);
  transition: color 500ms;
}

.section-expand-link:hover,
.section-expand-link:focus {
  color: var(--accent-color);
}

.section-expand-link.hidden {
  display: none;
}

@media screen and (min-width: 1024px) {
  .section-expand-link {
    font-size: var(--font-size-md);
  }
}

.gallery-list_item-img-wrap {
  position: relative;

  height: 470px;
}

.img-wrap {
  position: relative;
}

.gallery-list_item-img-wrap .item-link,
.img-wrap .item-link {
  display: block;
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.sr-only,
h2.sr-only {
  display: none;
}

@media screen and (max-width: 743px) {
  main {
    padding-top: var(--header-height);
  }
}

.genres-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.75rem;
  font-size: var(--font-size-sm);
}
.genres-list-item {
  position: relative;
}
.genres-list-item:not(:last-of-type):after {
  position: absolute;
  content: ",";
}

.gallery-list_item-genres {
  display: flex;
  flex-wrap: wrap;
  gap: 0.4rem;
  width: 100%;
  justify-content: center;
}
.gallery-list_item-genres_item {
}
.gallery-list_item-genres_item:not(:last-of-type):after {
  content: ",";
}

.tablet-home-section {
  display: none;
}
@media screen and (min-width: 744px) {
  .tablet-home-section {
    display: block;
  }
}
@media screen and (min-width: 1024px) {
  .tablet-home-section {
    display: none;
  }
}

.collapsedWithEllipis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.active {
  color: var(--accent-color);
}

/* li a {
  color: currentColor;
} */

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: var(--secondary-color);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--accent-color);
  border-radius: 10px;
  border: 2px solid var(--secondary-color);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--accent-color);
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--accent-color) var(--secondary-color);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--secondary-color);
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--accent-color);
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary-color) transparent;
}

.toTopBtn {
  color: var(--text-color);
  background-color: transparent;
  border: none;
  width: 64px;
  height: 64px;

  padding: 0.5rem;

  /* outline: 1px solid red; */
  position: fixed;

  z-index: 6;
  bottom: 7rem;
  right: 2rem;
  opacity: 0.5;

  transition:
    var(--default-color-transition),
    var(--default-opacity-transition),
    scale 1s;
}

.toTopBtn:hover,
.toTopBtn:focus {
  color: var(--hover-accent-color);
  opacity: 1;
  scale: 1.5;
}

.toTopBtn.hidden {
  display: none;
}
