* {
  /* outline: 1px solid blue; */
  box-sizing: border-box;
}

html {
  scrollbar-gutter: stable;
}

body {
  /* overflow-x: hidden; */
}

h2,
p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* .container {
  padding-left: calc(100vw - 100%);
} */

body {
  margin: 0;
  background-color: var(--carbon-color);
}

li,
ul,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
  color: currentColor;
}

body {
  background-color: var(--carbon-color);
  color: var(--white-color);

  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;

  /* height: 100%;
  width: 100%; */
}

button {
  padding: 0;
  cursor: pointer;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;

  min-width: 220px;

  @media screen and (min-width: 744px) {
    padding: 0 20px;
  }

  @media screen and (min-width: 1280px) {
    padding: 0 50px 0 30px;
  }
}

.icon {
  color: var(--white-color);
}

.section-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;

  flex-wrap: wrap;
}

.section-title {
  display: inline-block;
  font-size: var(--font-size-md);

  @media screen and (min-width: 744px) {
    font-size: var(--font-size-xl);
  }
  @media screen and (min-width: 1280px) {
    font-size: var(--font-size-lg);
  }
}

.section-expand-link {
  float: right;
  color: var(--purple-color);
  font-size: var(--font-size-xs);

  @media screen and (min-width: 1280px) {
    font-size: var(--font-size-md);
  }
}

.sorting {
  margin-bottom: 30px;
}

.gallery-list_item-img-wrap {
  position: relative;
}

.img-wrap {
  position: relative;
}
.gallery-list_item-img-wrap .item-link,
.img-wrap .item-link {
  display: block;
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  /* background-color: blue; */
}
