* {
  /* outline: 1px solid blue; */
  box-sizing: border-box;
}

html {
  /* scrollbar-gutter: stable; */
}

h2,
p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

body {
  margin: 0;
  background-color: var(--carbon-color);
}

li,
ul,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
  color: currentColor;
}

body {
  background-color: var(--carbon-color);
  color: var(--white-color);

  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

button {
  padding: 0;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  min-width: 300px;
  max-width: 1440px;
}
@media screen and (min-width: 744px) {
  .container {
    padding: 0 20px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    padding: 0 50px 0 30px;
  }
}

.icon {
  color: var(--white-color);

  /* width: 100%;
  height: 100%; */
}

.section-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;

  flex-wrap: wrap;
}

.section-title {
  display: inline-block;
  font-size: var(--font-size-md);
}
@media screen and (min-width: 744px) {
  .section-title {
    font-size: var(--font-size-xl);
  }
}
@media screen and (min-width: 1280px) {
  .section-title {
    font-size: var(--font-size-lg);
  }
}

.section-expand-link {
  float: right;
  color: var(--purple-color);
  font-size: var(--font-size-xs);
}
@media screen and (min-width: 1280px) {
  .section-expand-link {
    font-size: var(--font-size-md);
  }
}

.gallery-list_item-img-wrap {
  position: relative;
}

.img-wrap {
  position: relative;
}

.gallery-list_item-img-wrap .item-link,
.img-wrap .item-link {
  display: block;
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.sr-only {
  display: none;
}

@media screen and (max-width: 743px) {
  main {
    padding-top: var(--header-height);
  }
}

.genres-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.75rem;
  font-size: var(--font-size-sm);
}
.genres-list-item {
  position: relative;
}
.genres-list-item:not(:last-of-type):after {
  position: absolute;
  content: ",";
}

.gallery-list_item-genres {
  display: flex;
  flex-wrap: wrap;
  gap: 0.4rem;
}
.gallery-list_item-genres_item {
}
.gallery-list_item-genres_item:not(:last-of-type):after {
  content: ",";
}
