.full-card {
  --img-height: 360px;
  background-color: var(--base-variant);
  position: relative;
}

.full-card-layout {
  display: flex;
  flex-direction: column;

  width: 100%;
  min-height: 100dvh;
  padding-top: 22px;
  padding-bottom: 22px;
  height: 100%;
}

.full-card-nav {
  display: flex;
  align-items: center;
  gap: 12px;

  width: 100%;
  background-color: var(--base-variant);
  padding: 20px;
}

.back-btn {
  width: 54px;
  height: 54px;
  background-color: transparent;
  border: none;
}

.full-card-nav-list {
  display: inline-flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}
.full-card-nav-list_item {
  font-size: var(--font-size-xs);
  text-transform: capitalize;
}

.full-card-nav-list_item:not(:last-of-type)::after {
  content: " >";
}

.overall-rating {
  position: relative;
}
.reviews-raiting .reviews-title {
  display: none;
}

.base-film-content {
  position: relative;
}

.film-content {
  position: relative;
}

.full-card-img-wrap {
  opacity: 0.7;
  height: var(--img-height);

  width: 100%;
}

.full-card-img-wrap img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.full-card-heading {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  z-index: 10;
}

.full-card-heading .title {
  font-size: var(--font-size-xxl);
  align-self: center;
  white-space: normal;
}

.full-card-heading .raiting {
  position: static;
  translate: 0 0;
  width: 240px;
  align-self: center;

  border: 2px solid var(--raiting-icon-color);
  border-radius: 12px;
  padding: 6px 12px;

  display: flex;
  align-self: center;
  justify-content: space-between;
  gap: 1rem;

  height: 58px;
}

.full-card-heading .star-icon {
  height: 28px;
  width: 36px;
}

.full-card-controls {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 0 6px;

  position: relative;
  z-index: 2;
  margin-top: 34px;
}

.full-card-controls button {
  width: 100%;

  padding: 12px 6px;
  font-size: var(--font-size-lg);
  border-radius: 10px;
}

.full-card-controls_trailerBtn {
  background-color: var(--accent-color);
  color: var(--text-color);
}

.full-card-controls_AddToWatchlist {
  background-color: var(--base-color);
  color: var(--text-color);
}

.short-desc {
  font-size: var(--font-size-xs);

  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  align-items: center;
}

.short-desc-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  gap: 1.5rem;
  padding-right: 1.5rem;

  width: fit-content;
}
.short-desc-list_item {
  position: relative;
}

.short-desc-list_item:after {
  content: "⬩";
  position: absolute;
  top: 50%;
  translate: calc(0.75rem - 50%) -50%;
}

.full-card-heading-text {
  font-size: var(--font-size-xs);
  white-space: unset;
}

.additional-film-content {
  display: none;
}
.additional-film-content-list {
  display: flex;
  flex-direction: column;
  gap: 24px;

  width: 100%;
}
.additional-film-content-list_item {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.additional-film-content-list_item-title {
  font-size: var(--font-size-lg);
}
.additional-film-content-list_item-desc {
  font-size: var(--font-size-xss);
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.additional-film-content-list_item-desc li:not(:last-of-type)::after {
  padding-left: 0.5rem;
  content: ",";
}

.reviews {
  display: none;
}
.reviews-title {
  font-size: var(--font-size-xl);
  text-align: center;
}

.reviews-raiting {
  display: flex;
  width: 100%;
  height: 310px;

  background-color: var(--secondary-color);

  border-radius: 12px;

  align-self: flex-start;
}
/* .avg-rate, */
.overall-rating {
  flex-basis: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: var(--font-size-lg);
}
.avg-rate_main {
  color: var(--accent-color);
  font-size: var(--font-size-xl);
  margin-right: 10px;
}
.star-division {
  flex-basis: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  padding: 24px 8.5px;
}
.star-division_item {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 6px;
}
.stars {
  display: flex;
  align-items: center;
  gap: 6px;
}

.stars .star-icon {
  width: 32px;
  height: 32px;
}

.stars .star-icon.inactive-star {
  color: var(--secondary-color);
}
.comment-raiting-value {
  font-size: var(--font-size-sm);
}
.comments {
  padding-top: 32px;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.avatar-wrap .thumb {
  width: 64px;
  height: 64px;
  border-radius: 50% 50%;

  background-color: var(--secondary-color);
  overflow: hidden;
}
.avatar-wrap {
  padding: 10px;
}
.comments-item {
  display: flex;
  gap: 8px;
}
.comments-item_heading {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.comments-item_heading .star-division_item {
  flex-wrap: wrap;
}

.comments-item_content {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 12px;
}

.comments-item_content .star-division_item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  gap: 0.5rem;
}
.comments-item_content .star-division_item .star-icon {
  width: 18px;
  height: 18px;
}

.comments-item_heading_title {
  font-size: var(--font-size-lg);
}

.comments-item_heading_date {
  font-size: var(--font-size-xs);
}
.comments-item_heading_desc {
  font-size: var(--font-size-sm);
}

.comments-item_content p {
  white-space: normal;
}

.comments-item_content button {
  width: 187px;
  height: 40px;
  display: flex;
  align-items: center;
  gap: 12px;
  color: var(--text-color);
  background-color: transparent;
  border: none;
  font-size: var(--font-size-sm);
}

.full-card-gallery {
  display: none;
}

.full-card-gallery .gallery-list_item {
  display: flex;
  flex-grow: 1;
  width: 220px;
}

.full-card-gallery .gallery-list_item-desc {
  padding: 0.5rem;
}

@media screen and (min-width: 744px) {
  .full-card-nav-list_item {
    font-size: var(--font-size-lg);
  }

  .full-card-img-wrap {
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
  }

  .full-card-heading {
    padding: 12px 6px;
  }

  .full-card-heading .title {
    align-self: flex-start;

    font-size: var(--font-size-xxxl);
  }

  .full-card-heading .raiting {
    align-self: flex-start;
  }

  .full-card-controls {
    flex-direction: row;
    justify-content: space-between;
    padding: 24px 0;
  }

  .full-card-controls button {
    width: 292px;
  }

  .additional-film-content {
    display: flex;
    background-color: var(--base-color);
    padding: 24px 0;
  }

  .reviews {
    display: flex;
    flex-direction: column;
    gap: 16px;

    padding: 24px 0;
    width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  .film-content {
    display: flex;
    justify-content: space-between;
    /* gap: 170px; */
    gap: 2rem;
    width: 100%;

    padding: 2rem;
  }
  .base-film-content {
    position: static;
  }
  .base-film-content,
  .additional-film-content {
    flex-basis: 50%;
  }

  .additional-film-content {
    border-radius: 30px;
  }

  .reviews-title {
    display: none;
  }

  .full-card-layout .reviews {
    flex-direction: row;
    justify-content: space-between;
    gap: 170px;
    align-items: center;
  }
  .reviews-raiting {
    flex-basis: 50%;
  }
  .comments {
    width: 80%;
    /* margin: 0 auto; */
  }

  .full-card-nav-list_item {
    font-size: var(--font-size-xl);
  }

  .reviews-raiting .reviews-title {
    position: absolute;
    display: block;
    top: 12px;
    left: 50%;
    translate: -50% 0;
  }

  .full-card-img-wrap {
    width: calc(100% + 30px + 50px);
    left: -30px;

    /* width: 60%;
    left: 0;
    translate: -100% 0; */
  }

  .full-card-controls button {
    font-size: var(--font-size-xl);
  }

  .additional-film-content {
    position: relative;
    z-index: 10;
    height: fit-content;
    padding: 24px 12px;
    align-self: center;
  }

  .comments {
    padding-top: 0;
  }

  .full-card-gallery {
    display: block;
    margin-top: 42px;
  }
}
/*  */

.videos-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: var(--font-size-lg);
  margin-top: 40px;
  color: var(--accent-color);

  /*  */

  position: relative;
  height: 500px;
  border: 2px solid var(--raiting-icon-color);
}

.videos-content iframe {
  width: 75%;
  height: 75%;

  border-radius: 12px;
  overflow: hidden;
  position: relative;
  z-index: 40;

  border: 5px solid var(--secondary-color);
}

.videos-content .controls {
  position: absolute;
  inset: 0;
  z-index: 25;
}

.videos-content .controls .closeBtn,
.videos-content .controls .leftBtn,
.videos-content .controls .rightBtn {
  width: 64px;
  height: 64px;
  color: var(--accent-color);
  background-color: transparent;
  border-radius: 50% 50%;
  border: none;
  position: absolute;
}

.videos-content .controls .closeBtn {
  display: none;
  top: 0;
  right: 0;
  /* transform: translate(-100%, 100%); */
  padding: 1rem;

  /* padding: 1rem; */
}
.videos-content .controls .leftBtn {
  top: 50%;
  left: 6.25%;
  transform: translate(-50%, -50%);
}
.videos-content .controls .rightBtn {
  top: 50%;
  right: 6.25%;
  transform: translate(50%, -50%);
}

@media screen and (min-width: 744px) {
  .videos-content {
    /* position: relative; */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 20;
    background-color: var(--base-variant);
    border-radius: 12px;
    padding: 0.5rem;

    width: 80dvw;
    height: 80dvh;
  }

  .videos-content_list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: space-between;
  }

  .videos-content .controls .closeBtn {
    display: block;
  }
}

@media screen and (min-width: 1024px) {
  .videos-content {
    border-radius: 12px;
    padding: 0.5rem;
  }
}
