.saved-gallery {
  --img-wrap-height: 292px;
}

.saved-gallery .saved-gallery_title {
  margin-bottom: 42px;
  font-size: var(--font-size-xl);
}

.saved-gallery .saved-gallery-list {
  --item-width: 100%;
  --gap: 25px;

  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  gap: var(--gap);
}
.saved-gallery .saved-gallery-list_item {
  position: relative;
  width: 100%;
  max-width: 380px;
  z-index: 6;

  border: 3px solid var(--secondary-color);
  border-radius: 10px;
  overflow: visible;
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  z-index: 2;
}

.saved-gallery-list_item * {
  overflow: hidden;
  z-index: 2;
  /* position: relative; */
}

.saved-gallery .saved-gallery-list_item::after {
  content: "";
  position: absolute;
  scale: 1.03;
  background-color: var(--accent-color);
  overflow: visible;
  inset: 0;
  border-radius: inherit;
  opacity: 0;

  transition: opacity 1s;
  z-index: 1;
}

.saved-gallery .saved-gallery-list_item:hover::after,
.saved-gallery .saved-gallery-list_item:focus::after {
  /* scale: 1.2; */
  opacity: 1;
}

@media screen and (min-width: 1024px) {
  .saved-gallery .saved-gallery-list_item {
    /* width: calc((100% - 2 * var(--gap)) / 3); */
    width: var(--item-width);
  }
  /* 
  .saved-gallery-list_item {
    min-height: 600px;
  } */
}

@media screen and (min-width: 1280px) {
  .saved-gallery .saved-gallery-list {
    flex-direction: row;
    justify-content: space-between;
  }

  .saved-gallery .saved-gallery-list_item {
    /* height: 500px; */
  }
}

.saved-gallery .closeBtn {
  position: absolute;
  top: 0.3rem;
  right: 0.3rem;
  height: 64px;
  width: 64px;
  border-radius: 50% 50%;
  z-index: 3;
  background-color: var(--secondary-color);
  opacity: 0.5;
  border-color: transparent;

  z-index: 10;
  transition:
    scale 2s,
    background-color 500ms,
    color 500ms;
}

.saved-gallery .closeBtn:hover,
.saved-gallery .closeBtn:focus {
  scale: 1.2;
  background-color: var(--hover-accent-color);
  color: var(--base-color);
}

.saved-gallery .cross-icon {
  padding: 12px;

  /* width: 100%;
  height: 100%; */
}

.saved-gallery-list_item .img-wrap {
  height: var(--img-wrap-height);
  width: 100%;
  min-height: 340px;
}

.saved-gallery-list_item .img-wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.saved-gallery-list_item-desc {
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  background-color: var(--secondary-color);
  flex-grow: 1;
}

/* .desc-heading {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
} */

.saved-gallery-list_item-desc .title {
  font-size: var(--font-size-md);
}
.saved-gallery-list_item-desc .year {
  font-size: var(--font-size-sm);
}
.saved-gallery-list_item-desc .genres-list {
  font-size: var(--font-size-xxs);
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.saved-gallery-list_item-desc .genres-list_item:not(:last-of-type):after {
  content: ",";
}
