.main-gallery {
  margin-top: 42px;
}

.main-gallery-title {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  margin-bottom: 1rem;
  /* height: 3rem; */
}
.main-gallery-title span {
  color: var(--accent-color);
  font-size: var(--font-size-lg);

  display: flex;
  align-items: center;
}

.main-gallery .gallery-list {
  --item-width: 100%;
  --item-gap: 25px;

  --img-wrap-height: 460px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--item-gap);
  width: 100%;
}
.main-gallery .gallery-list_item {
  position: relative;
  width: var(--item-width);

  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 744px) {
  .main-gallery .gallery-list {
    --item-width: calc((100% - var(--item-gap)) / 2);
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row;

    align-items: stretch;
  }
}
@media screen and (min-width: 1024px) {
  .main-gallery .gallery-list {
    --item-width: calc((100% - 2 * var(--item-gap)) / 3);
  }
}
@media screen and (min-width: 1440px) {
  .main-gallery .gallery-list {
    --item-width: calc((100% - 3 * var(--item-gap)) / 4);
  }
}
@media screen and (min-width: 2170px) {
  .main-gallery .gallery-list {
    --item-width: calc((100% - 4 * var(--item-gap)) / 5);
  }
}

@media screen and (max-width: 744px) {
  .main-gallery .gallery-list_item {
    max-width: 480px;
  }
}

.main-gallery .gallery-list_item-img-wrap {
  /* height: 240px; */
  min-height: 340px;
  width: 100%;

  height: var(--img-wrap-height);
}

.main-gallery .gallery-list_item-img-wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* object-fit: contain; */
}

.main-gallery .gallery-raiting {
  position: absolute;
  top: 240px;
  translate: 0 -100%;
  padding-bottom: 0.62rem;
}

.genres-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.4rem;
}
.genres-list_item:not(:last-of-type):after {
  content: ",";
}
