/* HEADER */

body {
  --header-height: 140px;
  --scrollbar-width: 25px;
  --sideMenu-width: 270px;
}

main {
  padding-top: var(--header-height);
}

.header {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  flex-wrap: wrap;
  background-color: var(--obsidian-color);
  z-index: 7;
}

.header-menu-layout {
  display: none;
  font-size: var(--font-size-sm);
  max-height: 100dvh;
  overflow-y: auto;
}

.header-menu-layout a {
  display: flex;
  align-items: center;
  gap: 1rem;

  font-size: var(--font-size-sm);
}

.main-heading {
  width: 100%;
}

.search-field input::placeholder {
  color: var(--white-color);
}

.main-heading-buttons {
  display: none;
}
.library-links_title {
  font-size: var(--font-size-sm);
  overflow: visible;
}
.main-heading-layout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 21px;

  padding: 1rem;
}
.main-heading-buttons button {
  background-color: transparent;
  border-color: transparent;

  width: 34px;
  height: 34px;
  padding: 3px;
}

.header-menu-layout .main-links-list,
.header-menu-layout .library-links_title,
.header-menu-layout .library-links-list,
.header-menu-layout li:not(:last-of-type) {
  margin-bottom: 0.5rem;
}

.main-links-list_item,
.library-links-list_item,
.settings-links-list_item {
  text-transform: capitalize;
}

.header-menu-layout .logo {
  margin-bottom: 2rem;
}
.header-menu-layout .logo .icon {
  width: 200px;
  height: 85px;
  padding: 0;
  border: 2px solid var(--golden-color);
  border-radius: 12px;
}
.header-menu-layout .icon {
  width: 48px;
  height: 48px;
  padding: 6px;
}

.settings-links-list {
  margin-top: auto;
}

/* .main-heading-buttons .icon {
  width: 100%;
  height: 100%;
} */

.searchbar {
  flex-grow: 1;
}

.searchbar-form {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 1rem;
  border-radius: 10px;
  background-color: var(--carbon-color);
  padding: 12px 15px;
}

.search-field {
  display: flex;
  position: relative;
  flex-grow: 1;
  height: 26px;

  padding-left: 12px;
}

.searchbar-button {
  flex-grow: 0;
  height: 100%;
  background-color: transparent;
  border-color: transparent;

  height: 32px;
}

.searchbar-button .icon {
  height: 32px;
  width: 32px;
}

.search-field input {
  width: 100%;
  height: 26px;
  background-color: var(--grey-color);
  padding: 0;
  align-self: center;
  padding-left: 2rem;
  border-radius: 6px;
  border-color: transparent;
  color: var(--white-color);

  font-size: var(--font-size-xs);
  height: 26px;
}

.search-field .icon {
  position: absolute;
  top: 0;
  left: 12px;
  height: 26px;
  width: 26px;
  padding: 5px;
}

.searchbar-button .icon {
  height: 100%;
  width: 32px;
}

@media screen and (min-width: 744px) {
  main {
    padding-top: var(--header-height);
    padding-left: var(--sideMenu-width);
  }

  .header {
    /* position: absolute; */
    position: fixed;
  }

  .header-menu-layout {
    position: fixed;
    min-height: 100dvh;
    min-width: var(--sideMenu-width);
    width: var(--sideMenu-width);
    padding: 25px;
    padding-right: 15px;

    display: flex;
    flex-direction: column;
    background-color: var(--obsidian-color);
  }

  .main-heading {
    position: fixed;
    height: fit-content;
    top: 0;
    left: var(--sideMenu-width);
    width: calc(100% - var(--sideMenu-width));
  }

  .main-heading {
    padding-top: 25px;
    background-color: var(--obsidian-color);
  }

  .main-heading-buttons {
    display: flex;
    gap: 22px;
    flex-grow: 0;
  }

  .search-field input {
    font-size: var(--font-size-sm);
    height: 32px;
  }
}

@media screen and (min-width: 1024px) {
  main {
    padding-left: 295px;
  }

  .header {
    --sideMenu-width: 295px;
  }

  .header {
    width: 295px;
  }

  .main-heading-layout {
    padding-top: 25px;
  }

  .header-menu-layout a {
    font-size: var(--font-size-md);
  }

  .library-links_title {
    font-size: var(--font-size-md);
  }

  .main-heading-layout {
    height: 107px;
  }

  .main-heading-buttons button {
    width: 45px;
    height: 45px;
  }

  .search-field {
    height: 75px;
  }

  .search-field input {
    font-size: var(--font-size-md);
    padding-left: 50px;
    border-radius: 25px;
    height: 60px;
  }

  .search-field .icon {
    height: 32px;
    width: 32px;
    padding: 0;

    top: 50%;
    left: 0;
    translate: 50% -50%;
  }
}
