.hero {
  display: flex;
  flex-direction: column;

  margin-top: 42px;
  position: relative;
  min-width: 130px;
}

/* .hero::after { */
.hero-img-wrap {
  display: block;
  position: absolute;
  inset: 0;
  content: "";
  z-index: 1;

  /* background-image: url(); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: var(--grey-color);

  opacity: 0.8;
}

.hero-layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 345px;
  gap: 82px;
  padding-top: 16px;
  padding-bottom: 16px;
  z-index: 2;
  width: 100%;

  position: relative;
}

.hero-title {
  font-size: var(--font-size-lg);
  white-space: normal;
}

.hero-short-desc {
  display: flex;
  gap: 2rem;
}
.hero-short-desc-year {
  position: relative;
  overflow: visible;
}
.hero-short-desc-year::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(1rem, -50%);
  display: block;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50% 50%;
  background-color: var(--white-color);
}
.hero-genreList {
  display: flex;
  gap: 0.5rem;
}
.hero-genreList_item:not(:last-of-type):after {
  content: ",";
}

.hero-description {
  font-size: var(--font-size-sm);

  white-space: normal;
}

.hero-controls {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.hero-controls-btns {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
@media screen and (max-width: 270px) {
  .hero-controls-btns {
    flex-direction: column;
  }
}

.hero-controls-showMore,
.hero-controls-addToQueque {
  font-size: var(--font-size-sm);
  border-radius: 10px;
  padding: 12px 6px;
  color: var(--white-color);
}

.hero-controls-showMore {
  background-color: var(--purple-color);
}
.hero-controls-addToQueque {
  background-color: var(--obsidian-color);
}

.hero-radiobuttons {
  display: inline-flex;
  margin: 0 auto;
}

.hero-desktop-controls {
  display: none;
}
.hero-desktop-controls-value {
  font-size: var(--font-size-lg);
  display: flex;
  align-items: center;
  gap: 10px;
}
.hero-desktop-controls-value:first-of-type {
  color: var(--purple-color);
}

.hero-desktop-controls-value:first-of-type:after {
  content: "";
  height: 6px;
  width: 126px;
  background-color: var(--white-color);
}

.hero-controls .icon {
  /* height: 100%;
  width: 100%; */
  /* color: var(--obsidian-color); */
}

.hero-controls-arrows_left,
.hero-controls-arrows_right {
  display: none;
  color: var(--purple-color);
}

.hero-controls-arrows_left {
  top: 50%;
  left: 0;
  translate: 50% -50%;
}
.hero-controls-arrows_right {
  top: 50%;
  right: 0;
  translate: -50% -50%;
}

.hero-radiobuttons {
  display: flex;
  gap: 16px;
}

.hero-radiobuttons input {
  margin: 0;
  display: none;
}

.hero-radiobuttons .hero-radiobuttons_item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: var(--white-color);
}

.hero-radiobuttons .checkmark {
  display: none;
  width: 100%;
  height: 100%;
  background-color: var(--purple-color);
  border-radius: 50%;
}

.hero-radiobuttons input:checked + .checkmark {
  display: inline-block;
}

@media screen and (min-width: 744px) {
  .hero {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .hero {
    display: flex;
  }

  .hero-img-wrap {
    width: 70%;
    height: 100%;
    top: 0;
    left: 100%;
    translate: -100% 0;
  }

  .hero-layout {
    min-height: 650px;
    align-items: flex-start;
    width: 100%;

    /* padding: 32px; */
  }

  .hero-title {
    font-size: var(--font-size-xl);
  }

  .hero-description {
    padding: 0 72px;
    width: 100%;
  }

  .hero-controls {
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }

  .hero-controls-showMore,
  .hero-controls-addToQueque {
    /* width: 175px; */
    padding: 20px 24px;
    /* font-size: var(--font-size-lg); */
  }

  .hero-radiobuttons {
    margin: 0 0 0 auto;
    display: none;
  }

  .hero-desktop-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }

  .hero-controls-arrows_left,
  .hero-controls-arrows_right {
    display: block;

    position: absolute;
    width: 48px;
    height: 48px;
    font-size: var(--font-size-xl);

    background-color: transparent;
    border: none;
  }
}
