.main-page-info {
  /* padding-left: 20px; */
  margin-bottom: 42px;

  display: none;

  @media screen and (min-width: 744px) {
    display: block;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 42px;
  }
}

.main-page-info-layout {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.nav-list {
  display: none;

  @media screen and (min-width: 1280px) {
    display: flex;
    gap: 0.5rem;
  }
}
.nav-list_item {
  font-size: var(--font-size-md);
}
.nav-list_item:not(:last-of-type)::after {
  content: ">";
}

.main-page-info-title {
  /* display: none; */
  font-size: var(--font-size-xl);

  @media screen and (min-width: 1280px) {
    /* padding-left: 30px; */
    display: block;
  }
}

@media screen and (max-width: 743px) {
  main {
    padding-top: var(--header-height);
  }
  .main-title {
    display: none;
    /* ??? */
  }
}
