.main-page-info {
  display: none;
  margin-bottom: 42px;
}

.main-page-info-layout {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.nav-list {
  display: none;
}
.nav-list_item {
  font-size: var(--font-size-md);
  text-transform: capitalize;
}
.nav-list_item:not(:last-of-type)::after {
  content: ">";
}

.main-page-info-title {
  font-size: var(--font-size-xl);
  text-transform: capitalize;
}

@media screen and (min-width: 744px) {
  .main-page-info {
    display: block;
  }
}

@media screen and (min-width: 1024px) {
  .main-page-info {
    padding-top: 42px;
  }

  .nav-list {
    display: flex;
    gap: 0.5rem;
  }

  .main-page-info-title {
    display: block;
  }
}
