.main-heading {
  /* ? */
}

.main-heading-layout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 21px;

  padding: 1rem;

  /* @media screen and (min-width: 744px) {
  } */
  @media screen and (min-width: 1280px) {
    height: 107px;
  }
}

.main-heading-buttons {
  display: none;

  @media screen and (min-width: 744px) {
    display: flex;
    gap: 22px;
    flex-grow: 0;
  }
}
.main-heading-buttons button {
  background-color: transparent;
  border-color: transparent;

  width: 34px;
  height: 34px;
  padding: 3px;

  @media screen and (min-width: 1280px) {
    width: 45px;
    height: 45px;
  }
}
.main-heading-buttons .icon {
  width: 100%;
  height: 100%;
}
.main-heading-title {
  font-size: var(--font-size-xl);
  padding-left: 20px;
  margin-bottom: 6px;
}

.searchbar {
  /* padding-top: 0.5rem;
  padding-bottom: 0.5rem; */
  flex-grow: 1;
}

.searchbar-form {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 1rem;
  /* padding: 12px; */
  border-radius: 10px;
  background-color: var(--carbon-color);
  padding: 12px 15px;
}

.search-field {
  display: flex;
  position: relative;
  flex-grow: 1;
  height: 26px;

  padding-left: 12px;

  @media screen and (min-width: 744px) {
  }
  @media screen and (min-width: 1280px) {
    height: 75px;
  }
}

.searchbar-button {
  flex-grow: 0;
  height: 100%;
  background-color: transparent;
  border-color: transparent;

  height: 32px;
}

.searchbar-button .icon {
  height: 32px;
  width: 32px;
}

.search-field input {
  width: 100%;
  height: 26px;
  background-color: var(--grey-color);
  padding: 0;
  align-self: center;
  padding-left: 2rem;
  border-radius: 6px;
  border-color: transparent;
  color: var(--white-color);

  font-size: var(--font-size-xs);
  height: 26px;
  /* padding: 0.2rem; */

  /* height: 26px; */

  @media screen and (min-width: 744px) {
    font-size: var(--font-size-sm);

    height: 32px;
  }

  @media screen and (min-width: 1280px) {
    font-size: var(--font-size-md);
    padding-left: 50px;
    border-radius: 25px;

    height: 60px;
  }
}

.search-field input::placeholder {
  color: var(--white-color);
}

.search-field .icon {
  position: absolute;
  top: 0;
  left: 12px;
  height: 26px;
  width: 26px;
  padding: 5px;

  @media screen and (min-width: 1280px) {
    height: 32px;
    width: 32px;
    padding: 0;

    top: 50%;
    left: 0;
    translate: 50% -50%;
  }
}

.searchbar-button .icon {
  height: 100%;
  width: 32px;
}

.search-field .icon use {
  height: 100%;
}
