/* Modal mobile menu */

.backdrop {
  position: fixed;
  left: 0;
  bottom: 0;

  width: 100vw;
  height: 100%;

  background-color: var(--obsidian-color);
  z-index: 5;

  overflow: auto;
}
@media screen and (min-width: 744px) {
  .backdrop {
    display: none;
    /* ?? */
  }
}

.mobile-modal-menu {
  display: none;
}
@media screen and (min-width: 744px) {
  .mobile-modal-menu.isOpen {
    display: none;
  }
}

.mobile-modal-menu.isOpen {
  display: flex;
  flex-direction: column;

  width: max-content;
  min-height: 100vh;
  padding: 72px 0 12px 0;
  margin: 0 auto;

  font-size: var(--font-size-sm);
}

.mobile-modal-menu .icon {
  width: 24px;
  height: 24px;
  margin-right: 1rem;
}

.modal-menu-logo .icon {
  width: 208px;
  height: 85px;
  margin-right: 0;
}

.mobile-modal-menu a {
  text-decoration: none;
  color: currentColor;

  display: flex;
  align-items: center;
}

.mobile-modal-menu .main-links-list,
.mobile-modal-menu .library-links-list,
.mobile-modal-menu-title {
  margin-bottom: 1rem;
}

.mobile-modal-menu .main-links-list_item:not(:last-of-type),
.mobile-modal-menu .library-links-list_item:not(:last-of-type),
.mobile-modal-menu .settings-links-list_item:not(:last-of-type) {
  margin-bottom: 1rem;
}

.mobile-modal-menu .settings-links-list {
  margin-top: auto;
}

/* Mobile menu / Mobile navigation */

.mobile-navigation {
  position: fixed;
  top: 100%;
  left: 0;
  transform: translate(0, -100%);
  z-index: 111;
  width: 100%;
  border-top: 5px solid var(--grey-color);
}

.mobile-navigation-list {
  display: flex;
  background-color: var(--carbon-color);
}

.mobile-navigation-list_item {
  flex: 1;
}

.mobile-navigation-list_item-link {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;

  justify-content: center;
  gap: 0;
}
.mobile-navigation-list_item-link .icon {
  flex-grow: 1;
  color: var(--white-color);
  /* width: 100%; */
  padding: 20px 0;

  height: 110px;
}

.mobile-navigation-list_item-link .icon use {
  width: 69px;
  height: 69px;
}

.mobile-navigation-list_item-link span {
  font-size: var(--font-size-xxs);
  color: var(--white-color);
}

.modal-closeBtn .close-icon {
  height: 30px;
  width: 30px;
  color: var(--white-color);
  margin: 0;
}

.modal-closeBtn {
  position: absolute;
  top: 0;
  left: 0;

  padding: 9px;

  background-color: transparent;
  border-color: transparent;
}
