.mobile-header-layout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding-right: var(--scrollbar-width);

  z-index: 5;
}

.mobile-header-layout .navBtn {
  background-color: transparent;
  border-color: transparent;
  height: 100%;
}

.mobile-header-layout .icon {
  width: 46px;
  height: 100%;
}

.mobile-header-layout .headerTitle {
  display: none;
  font-size: var(--font-size-xl);

  text-transform: capitalize;
}

.main-heading {
  z-index: 4;
}

@media screen and (min-width: 270px) {
  .mobile-header-layout .headerTitle {
    display: block;
  }
}

@media screen and (min-width: 744px) {
  .mobile-header-layout {
    display: none;
  }

  .main-heading {
    padding-right: 0;
  }
}
@media screen and (min-width: 1024px) {
  .main-heading-layout {
    padding: 2rem;
  }
  .main-heading {
    padding-bottom: 2rem;
  }
}
