@media screen and (min-width: 744px) {
  .mobile-genres {
    display: none;
  }
}

.mobile-genres {
  margin-top: 42px;
}

.mobile-genres-list {
  display: flex;
  gap: 10px;
  margin-top: 10px;

  overflow-x: auto;
  overscroll-behavior-inline: contain;

  gap: 1.5rem;
}
.mobile-genres-list_item {
  width: 33%;
}

.mobile-genres-btn {
  text-align: center;
  text-decoration: none;
  color: currentColor;
  background-color: transparent;

  width: 72px;
  border: none;
}

.mobile-genres-btn.active {
  color: var(--accent-color);
}
.mobile-genres-btn.active .mobile-genres-icon-wrap {
  background-color: var(--text-color);
}

.mobile-genres-icon-wrap {
  border-radius: 50% 50%;
  background-color: var(--secondary-color);
  aspect-ratio: 1/1;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;

  padding: 1rem;
}

.mobile-genres-btn p {
  font-size: var(--font-size-xxs);
}

/* .mobile-genres .icon {
  color: var(--accent-color);
  padding: 20%;
} */
