.pagination {
  /* display: none; */
  padding: 20px 0;
  width: 100%;
  /* overflow-x: auto; */
}

@media screen and (min-width: 744px) {
  .leftArrow,
  .rightArrow,
  .dots-icon {
    background-color: transparent;
    width: 54px;
    height: 54px;
  }

  .pagBtn {
    min-width: 54px;
    height: 54px;
  }
}

@media screen and (min-width: 1080px) {
  .pagination-layout {
    background-color: var(--secondary-color);
    border-radius: 15px;
    /* gap: 60px; */
    /* justify-content: center; */
    justify-content: space-between;
    /* width: fit-content; */
  }
}

.pagination-layout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 32px;
}

.leftArrow,
.rightArrow,
.dots-icon {
  background-color: transparent;

  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
}

.pagBtn {
  /* height: 100%; */
  /* font-size: var(--font-size-sm); */
  background-color: var(--accentColor);
  color: var(--text-color);
  background-color: var(--base-color);

  border: none;

  font-size: var(--font-size-lg);
}

.pageEllipsis {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination svg {
  width: 40px;
  height: 40px;
}

.pagBtn.active {
  background-color: var(--accent-color);

  color: var(--text-color);
}

.inactive {
  background-color: var(--secondary-color);
  /* remove possibility of click event here */
  pointer-events: none;
}
