.pagination {
  /* display: none; */
  padding: 20px 0;
  width: 100%;
  /* overflow-x: auto; */
}

.leftArrow,
.rightArrow {
  background-color: transparent;
  width: 32px;
  height: 32px;
}

.leftArrow,
.rightArrow,
.pagBtn {
  scale: 0.95;
  position: relative;
  overflow: visible;
}

.pagBtn::after {
  content: "";
  position: absolute;
  inset: 0;
  opacity: 0;
  border: 2px solid var(--hover-accent-color);
  z-index: 111;

  transition: opacity 500ms;
}

.pagBtn:hover::after {
  opacity: 1;
}

.leftArrow:hover,
.leftArrow:focus,
.rightArrow:hover,
.rightArrow:focus,
.pagBtn:hover,
.pagBtn:focus {
  color: var(--hover-accent-color);
  scale: 1.05;
}

.pagBtn {
  min-width: 32px;
  height: 32px;
}

.pagination-layout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 32px;
}

.leftArrow,
.rightArrow,
.dots-icon {
  background-color: transparent;

  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
}

.pagBtn {
  background-color: var(--accentColor);
  color: var(--text-color);
  background-color: var(--base-color);

  border: 1px solid var(--secondary-color);

  font-size: var(--font-size-xxs);
}

.pageEllipsis {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination svg {
  width: 24px;
  height: 24px;
}

.pagBtn.active {
  background-color: var(--accent-color);

  color: var(--text-color);
}

.inactive {
  background-color: var(--secondary-color);
  /* remove possibility of click event here */
  pointer-events: none;
}

@media screen and (min-width: 1080px) {
  .leftArrow,
  .rightArrow {
    background-color: transparent;
    width: 48px;
    height: 48px;
  }

  .pagination svg {
    width: 40px;
    height: 40px;
  }

  .pagBtn {
    min-width: 48px;
    height: 48px;
  }
  .pagination-layout {
    background-color: var(--secondary-color);
    border-radius: 15px;

    justify-content: space-between;
  }
}
