.popular {
  margin-top: 42px;
}

@media screen and (min-width: 744px) {
  .popular {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .popular {
    display: block;
  }
}
