.raiting {
  position: absolute;
  top: var(--img-wrap-height);
  left: 50%;
  translate: -50% -100%;

  height: 54px;
  min-width: 120px;

  display: flex;
  justify-content: space-between;

  pointer-events: none;

  border-radius: 12px;
  padding: 0.2rem;
}

.raiting:after {
  position: absolute;
  content: "";
  inset: 0;
  background-color: var(--base-variant);
  opacity: 0.2;
}

.imdbIcon {
  height: 100%;
  padding: 4px 6px;
}

.imdbIcon .icon {
  width: 80px;
  /* height: 100%; */
  background-color: var(--icon-color);
  border-radius: 10px;
  color: var(--base-variant);
}

.raiting-value {
  font-size: var(--font-size-sm);
  display: flex;
  align-items: center;
  gap: 1rem;
}

.imdb-icon {
  box-sizing: border-box;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--icon-color);
  border-radius: 10px;
  width: 48px;
  height: 28px;
}

.star-icon {
  color: var(--icon-color);
  width: 16px;
  height: 16px;
}
