.tranding {
  margin-top: 42px;
}
.tranding .gallery-list_item {
  flex-basis: 54%;
}

@media screen and (min-width: 744px) {
  .tranding {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .tranding {
    display: block;
  }
  .tranding .gallery-list_item {
    flex-basis: 27%;
  }
}
