:root {
  --obsidian-color: #0d0d0f;
  --carbon-color: #1a1a1e;
  --purple-color: #6c47ff;
  --white-color: #ffffff;
  --red-color: #e50914;
  --grey-color: #aaaaaa;
  --golden-color: #f5c518;

  --font-size-xxxl: 64px;
  --font-size-xxl: 48px;
  --font-size-xl: 40px;
  --font-size-lg: 36px;
  --font-size-md: 32px;
  --font-size-sm: 24px;
  --font-size-xs: 20px;
  --font-size-xxs: 16px;

  --spring-easing: linear(
    0,
    0.009,
    0.035 2.1%,
    0.141,
    0.281 6.7%,
    0.723 12.9%,
    0.938 16.7%,
    1.017,
    1.077,
    1.121,
    1.149 24.3%,
    1.159,
    1.163,
    1.161,
    1.154 29.9%,
    1.129 32.8%,
    1.051 39.6%,
    1.017 43.1%,
    0.991,
    0.977 51%,
    0.974 53.8%,
    0.975 57.1%,
    0.997 69.8%,
    1.003 76.9%,
    1.004 83.8%,
    1
  );

  --mobile-width: 390px;
  --tablet-width: 744px;
  --desktop-width: 1280px;
}
