:root {
  /* --base-color: #0d0d0f;
  --base-variant: #1a1a1e;
  --accent-color: #6c47ff;
  --text-color: #ffffff;
  --secondary-color: #aaaaaa;
  --icon-color: #f5c518; */

  --font-size-xxxl: 64px;
  --font-size-xxl: 48px;
  --font-size-xl: 40px;
  --font-size-lg: 36px;
  --font-size-md: 32px;
  --font-size-sm: 24px;
  --font-size-xs: 20px;
  --font-size-xxs: 16px;

  --spring-easing: linear(
    0,
    0.009,
    0.035 2.1%,
    0.141,
    0.281 6.7%,
    0.723 12.9%,
    0.938 16.7%,
    1.017,
    1.077,
    1.121,
    1.149 24.3%,
    1.159,
    1.163,
    1.161,
    1.154 29.9%,
    1.129 32.8%,
    1.051 39.6%,
    1.017 43.1%,
    0.991,
    0.977 51%,
    0.974 53.8%,
    0.975 57.1%,
    0.997 69.8%,
    1.003 76.9%,
    1.004 83.8%,
    1
  );

  --mobile-width: 390px;
  --tablet-width: 744px;
  --desktop-width: 1024px;

  --default-color-transition: color 500ms;
  --default-opacity-transition: opacity 500ms;

  --toast-shadow:
    rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
    rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

  --card-shadow:
    rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;

  --filmCardBtn-left-shadow:
    rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px,
    rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px,
    rgba(240, 46, 170, 0.05) 25px 25px;

  --filmCardBtn-right-shadow:
    rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px,
    rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px,
    rgba(240, 46, 170, 0.05) -25px 25px;
}

.darkmode {
  --base-color: #0d0d0f;
  --base-variant: #1a1a1e;
  --accent-color: #6c47ff;
  --hover-accent-color: #f5c518;
  --text-color: #ffffff;
  --secondary-color: #aaaaaa;
  --icon-color: #f5c518;

  .darkmode {
    display: none;
  }
  .lightmode {
    display: block;
  }
}
.lightmode {
  --base-color: #f3f4f8;
  --base-variant: #ffffff;
  --accent-color: #7c5cff;
  --hover-accent-color: #f5c518;
  --text-color: #171827;
  --secondary-color: #74778a;
  --icon-color: #f5c518;
}

.lightmode {
  .hero-img-wrap {
    opacity: 0.3;
  }

  .genresSection-list_item-title {
    color: var(--base-color);
  }

  #search-field {
    color: var(--base-color);
  }

  #search-field::placeholder {
    color: var(--base-color);
  }

  .raiting-value {
    color: var(--base-color);
  }

  .darkmode {
    display: block;
  }
  .lightmode {
    display: none;
  }

  .genres-list_item.active {
    color: var(--hover-accent-color);
  }
}
