:root {
  --obsidian-color: #0d0d0f;
  --carbon-color: #1a1a1e;
  --purple-color: #6c47ff;
  --white-color: #ffffff;
  --red-color: #e50914;
  --grey-color: #aaaaaa;
  --golden-color: #f5c518;

  --font-size-xxl: 48px;
  --font-size-xl: 40px;
  --font-size-lg: 36px;
  --font-size-md: 32px;
  --font-size-sm: 24px;
  --font-size-xs: 20px;
  --font-size-xxs: 16px;

  --spring-easing: linear(
    0,
    0.009,
    0.035 2.1%,
    0.141,
    0.281 6.7%,
    0.723 12.9%,
    0.938 16.7%,
    1.017,
    1.077,
    1.121,
    1.149 24.3%,
    1.159,
    1.163,
    1.161,
    1.154 29.9%,
    1.129 32.8%,
    1.051 39.6%,
    1.017 43.1%,
    0.991,
    0.977 51%,
    0.974 53.8%,
    0.975 57.1%,
    0.997 69.8%,
    1.003 76.9%,
    1.004 83.8%,
    1
  );
}

* {
  outline: 1px solid blue;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--carbon-color);
}

li,
ul,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
  color: currentColor;
}
/* 
main {
  padding-bottom: 150px;
} */

@media screen and (max-width) {
}

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

* {
  /* outline: 1px solid green; */
  box-sizing: border-box;
}

body {
  background-color: var(--obsidian-color);
  color: var(--white-color);

  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.navBtn {
  background-color: transparent;
  border-color: transparent;
}

button {
  padding: 0;
}

.container {
  padding: 0 15px;
  margin: 0 auto;

  min-width: 152px;
}

.header {
  display: flex;
}

.headerTitle {
  font-size: var(--font-size-lg);

  @media screen and (max-width: 270px) {
    display: none;
  }
}

.header-layout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  width: 100%;
}

.icon {
  /* color: black;
  fill: black; */
  color: var(--white-color);

  width: 50px;
  height: 50px;
}

/* .icon use {
  width: 100%;
  height: 100%;
} */

.header svg {
  width: 50px;
  height: 41px;
}

.search-section {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.searchbar-form {
  /* outline: 1px solid red; */
  display: flex;
  width: 100%;

  gap: 1rem;
  padding: 12px;

  border-radius: 10px;
  background-color: var(--carbon-color);

  height: 50px;

  padding: 12px 15px;
}

.search-field {
  display: flex;
  position: relative;
  flex-grow: 1;
  height: 26px;
}

.search-field input {
  width: 100%;
  font-size: var(--font-size-xs);
  height: 26px;
  background-color: var(--grey-color);
  padding: 0;
  align-self: center;
  padding-left: 2rem;
  border-radius: 6px;
  border-color: transparent;
  color: var(--white-color);
}

.search-field input::placeholder {
  color: var(--white-color);
}

.search-field .icon {
  position: absolute;
  top: 0;
  left: 0;

  height: 100%;
  width: 1.5rem;

  padding: 5px;
}

.searchbar-button {
  flex-grow: 0;
  height: 100%;
  background-color: transparent;
  border-color: transparent;
}

.searchbar-button .icon {
  height: 100%;
  width: 32px;
}

.search-field .icon use {
  height: 100%;
}

/* .searchbar-form .icon {
  height: 100%;
} */

.hero {
  background-image: url("./blank-picture.png");

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;

  margin-top: 42px;
}

.hero-layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  min-height: 345px;
  gap: 16px;

  padding-top: 16px;
  padding-bottom: 16px;
}

.hero-title {
  font-size: var(--font-size-lg);
}

.hero-description {
  font-size: var(--font-size-sm);
}

.hero-controls {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.hero-controls-btns {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  @media screen and (max-width: 270px) {
    flex-direction: column;
  }
}

.hero-controls-showMore,
.hero-controls-addToQueque {
  /* width: 130px; */
  /* height: 53px; */
  font-size: 24px;
  border-radius: 10px;
  padding: 6px 12px;
}

.hero-controls-showMore {
  background-color: var(--purple-color);
}

.hero-radiobuttons {
  display: inline-flex;
  margin: 0 auto;
}

.sr-only {
  display: none;
}

.genres {
  margin-top: 42px;
}
.section-title {
  display: inline-block;
}
.section-expand-link {
  float: right;
}
.genres .genres-list {
  display: flex;
  gap: 10px;
  margin-top: 10px;

  overflow-x: auto;
  overscroll-behavior-inline: contain;

  gap: 1.5rem;
}
.genres-list_item {
  /* width: calc((100% - 30px) / 4); */
  width: 33%;
}

.genre-link {
  text-align: center;
  text-decoration: none;
  color: currentColor;
}

.genre-link p {
  font-size: var(--font-size-xxs);
}

.genre-icon-wrap {
  border-radius: 50% 50%;
  background-color: var(--grey-color);
  aspect-ratio: 1/1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.genres .icon {
  color: var(--purple-color);
  width: 100%;
  height: 100%;
  padding: 20%;
}

.tranding {
  margin-top: 42px;
}

.gallery-list {
  display: flex;
  overflow-x: auto;
  overscroll-behavior-inline: contain;

  gap: 1rem;
  padding: 1rem 0;
}

.gallery-list_item {
  border-radius: 1rem;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  flex-basis: 54%;

  position: relative;
  flex-shrink: 0;

  min-width: 152px;
  height: 300px;
}

.gallery-list_item-desc {
  height: 38%;
}

.gallery-list_item-img-wrap {
  width: 100%;
  height: 62%;
  /* overflow: hidden; */

  position: relative;
}

.gallery-list_item-img-wrap img {
  object-fit: cover;
  height: 100%;
  inline-size: 100%;
  /* aspect-ratio: 16/9; */
}

.gallery-raiting {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  align-items: center;
  justify-content: space-between;

  box-sizing: content-box;

  height: 2rem;

  width: 70%;

  min-width: 100px;
}

.section-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gallery-raiting-value {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-basis: 40%;
  /* padding: 6px; */
  gap: 0.5rem;
  height: 100%;
}

.imdb-icon {
  box-sizing: border-box;
  /* flex-basis: 35%; */
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--golden-color);
  border-radius: 10px;
  width: 48px;
  height: 28px;
}

.gallery-raiting .icon {
  max-height: 100%;
}

.star-icon {
  /* background-color: aquamarine; */

  color: var(--golden-color);
  width: 16px;
  height: 16px;
}

.raiting-value {
}

.gallery-list_item-desc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--grey-color);
  flex-grow: 1;

  padding: 9px;
}
.gallery-list_item-title {
  font-size: var(--font-size-sm);
}
.gallery-list_item-year {
  font-size: var(--font-size-xxs);
}
.gallery-list_item-genres {
  font-size: var(--font-size-xs);
}

.snaps-inline {
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: 1rem;
}

.snaps-inline > * {
  scroll-snap-align: start;
}

.popular {
  margin-top: 42px;
}

.mobile-navigation {
  position: fixed;
  top: 100%;
  left: 0;
  transform: translate(0, -100%);
  z-index: 111;
  width: 100%;

  border-top: 5px solid var(--grey-color);
}
.mobile-navigation-list {
  display: flex;
  background-color: var(--carbon-color);
}
.mobile-navigation-list_item {
  flex: 1;
}
.mobile-navigation-list_item-link {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;

  justify-content: center;
  gap: 0;
}
.mobile-navigation-list_item-link .icon {
  flex-grow: 1;
  color: var(--white-color);
  width: 100%;
  padding: 20px 0;

  height: 110px;
}

.mobile-navigation-list_item-link .icon use {
  width: 69px;
  height: 69px;
}

.mobile-navigation-list_item-link span {
  font-size: var(--font-size-xxs);
  color: var(--white-color);
}

.genres-chips {
}
.genres-chips-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  margin-top: 0.5rem;
}

.genres-chips-list_item {
  display: flex;
  align-items: center;
  gap: 0.3rem;

  position: relative;
}

.genres-chips-list_item-btn {
  display: flex;
  height: 36px;

  border-radius: 10px;
  background-color: var(--grey-color);
  color: var(--white-color);
  font-size: var(--font-size-xs);
  border-color: transparent;
  padding: 6px;
}

.genres-chips-list_item-btn.active {
  padding-right: 2rem;
  background-color: var(--purple-color);
}

.genres-chips-list_item-btn span {
  display: flex;
  align-items: center;
  text-align: center;
}

.genres-chips-list_item-btn + .icon {
  width: 22px;
  height: 24px;

  display: none;

  position: absolute;
  top: 50%;
  right: calc((2rem - 22px) / 2);
  transform: translate(0, -50%);
  z-index: 111;
  color: var(--obsidian-color);
}

.genres-chips-list_item-btn.active + .icon {
  display: block;
}

.dropdown {
  width: 100%;
  height: 36px;
  padding: 0.5rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 21px;

  margin-top: 0.5rem;
}

.dropdown select {
  padding: 0 4px 0 3px;

  min-inline-size: 14ch;
  justify-content: space-between;

  /* display: flex; */
  /* gap: 21px; */

  width: 200px;

  color: var(--white-color);
}

.dropdown select,
.dropdown select::picker(select) {
  appearance: base-select;

  /* padding: 1rem; */
  border: none;
  border-radius: 1rem;
  background-color: #222;
  line-height: 1.6;
  color: #fff;
}

.dropdown select::picker(select) {
  margin-block-start: 0.5rem;
}

.dropdown select::picker-icon {
  display: none;
}

.picker {
  rotate: 90deg;

  transition: rotate 0.3s ease;
}

:open .picker {
  rotate: 0deg;
}

.dropdown select button {
  display: flex;
  justify-content: space-between;

  width: 100%;

  padding-left: 1rem;
  padding-right: 1rem;
}

.dropdown select selectedcontent {
  display: inline-flex;
  flex-grow: 1;
}

.dropdown select selectedcontent span {
  flex-grow: 1;
  text-align: center;
}

.dropdown select selectedcontent > * {
  transition:
    translate 1s var(--spring-easing),
    opacity 1s;

  @starting-style {
    opacity: 0;
    translate: 0% 100%;
  }
}

.main-gallery {
  margin-top: 1rem;
}

.main-gallery .gallery-list {
  flex-direction: column;
  padding: 0 15%;
}

.main-gallery .gallery-list_item {
  width: 100%;
}

.main-gallery .gallery-list_item-img-wrap {
  height: 240px;
}
.main-gallery .gallery-raiting {
  top: 240px;
  translate: 0 -100%;
  padding-bottom: 0.62rem;
}
.main-gallery .gallery-raiting-value {
}
.main-gallery .icon {
}
.main-gallery .star-icon {
}
.main-gallery .raiting-value {
}
.main-gallery .imdb-icon {
}
.main-gallery .gallery-list_item-desc {
}
.main-gallery .gallery-list_item-title {
}
.main-gallery .gallery-list_item-year {
}
.main-gallery .gallery-list_item-genres {
}

.backdrop {
  position: fixed;
  inset: 0;
}

.modal-menu {
  width: 100%;
  height: 100%;
  padding-top: 72px;
  padding: 72px 0 12px 0;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  margin: 0 auto;
  width: max-content;

  font-size: var(--font-size-sm);
}

.modal-menu .icon {
  width: 24px;
  height: 24px;
  margin-right: 1rem;
}

.modal-menu-logo .icon {
  width: 208px;
  height: 85px;
  margin-right: 0;
}

.modal-menu a {
  text-decoration: none;
  color: currentColor;

  display: flex;
  align-items: center;
}

.main-modal-links-list_item:not(:last-of-type),
.library-modal-links-list_item:not(:last-of-type),
.settings-modal-links-list_item:not(:last-of-type) {
  margin-bottom: 0.2rem;
}

.settings-modal-links-list {
  margin-top: auto;
}

.genresSection {
  margin-top: 36px;
}

.genresSection-list_item {
  width: 220px;
  height: 240px;
  background-color: var(--grey-color);
  border-radius: 15px;
}

.genresSection-list_item a {
  padding: 12px;

  display: flex;
  flex-direction: column;
  align-items: center;

  text-decoration: none;
  color: currentColor;
}

.genresSection-list {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
}

.genresSection-icon-wrap {
  width: 150px;
  height: 150px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50% 50%;
  background-color: var(--white-color);
}

.genresSection-icon-wrap .icon {
  color: var(--obsidian-color);
  width: 100px;
  height: 100px;
}

.genresSection-list_item-title {
  flex-grow: 1;
  vertical-align: middle;
  line-height: 65px;

  text-transform: capitalize;
}

.modal {
  /* overflow: auto; */
  padding: 22px;

  background-color: var(--obsidian-color);
  position: relative;

  /* height: 100vh;
  overflow: hidden; */
  display: flex;
  flex-direction: column;
}
.modal-nav {
  display: flex;
  align-items: center;
  gap: 12px;
  position: fixed;
  z-index: 3;
  background-color: var(--carbon-color);
  top: 0;
  left: 0;
  padding: 6px 15px 0 15px;
  width: 100%;
}
.icon {
}
.modal-nav-list {
  display: inline-flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}
.modal-nav-list_item {
}
.modal-nav-list_item:not(:last-of-type)::after {
  content: " >";
}

.modal-img-wrap {
  z-index: 1;
  opacity: 0.7;
  top: 80px;
  left: 0;
  width: 100%;
  height: 300px;

  position: fixed;
}

.modal-img-wrap img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.modal-film-desc {
  top: 200px;
  position: relative;
  z-index: 2;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal-film-desc .title {
  font-size: var(--font-size-xxl);
}

.modalControls {
  /* position: fixed;
  top: 100%;
  left: 0;
  translate: 0 -100%; */

  /* height: 100px; */
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 0 6px;
  padding-top: 220px;

  position: relative;
  z-index: 2;
}

.modalControls button {
  width: 100%;

  padding: 12px 6px;
  font-size: var(--font-size-sm);
  border-radius: 10px;
}

.modalControls_trailerBtn {
  background-color: var(--purple-color);
}

.raiting {
  display: flex;
  /* position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% 0; */
  width: 50%;
  min-width: 35px;

  height: 58px;
  padding: 12px;
  gap: 1rem;

  border: 2px solid var(--golden-color);
  border-radius: 12px;

  align-self: center;
  justify-content: space-between;
}
.raiting .icon {
  height: 100%;
  width: 32px;

  @media screen and (max-width: 230px) {
    display: none;
  }
}

.raiting .imdbIcon {
  width: 80px;
  height: 100%;
  border-radius: 10px;
  background-color: var(--golden-color);

  @media screen and (max-width: 300px) {
    display: none;
  }
}

.imdbIcon .icon {
  width: 100%;
  height: 100%;
}

.raiting-value {
  font-size: var(--font-size-sm);
}

.short-desc {
  /* font-size: var(--font-size-sm); */
  font-size: var(--font-size-xs);
}

.short-desc * {
  position: relative;
  padding-right: 2rem;
}

.short-desc *:after {
  content: "⬩";

  position: absolute;
  top: 50%;
  translate: 0.5rem -50%;
  /* ⚫+⚪ */
}
/* .short-desc *:not(:last-of-type) {
  padding-right: 2rem;
} */

.modal-film-desc .genres-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  font-size: var(--font-size-sm);
}

.modal-film-desc .genres-list .genres-list-item {
  position: relative;
}

.modal-film-desc .genres-list .genres-list-item:not(:last-of-type)::after {
  content: ",";
}

.modal-film-desc-text {
  font-size: var(--font-size-xs);
}
